.header {
    padding: 15px 0;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.top_nav {
    display: flex;
    justify-content: space-between;
}